<!DOCTYPE html>
<html>

<head>

</head>

<body>

    
    
    <form id="form" enctype="multipart/form-data" action="/profile"  method="post" >

        <label>Name</label>
        <input type="text" placeholder=" Name" name="name" id="name" class="form-control">

        <label>Logo</label>
        <input type="file" placeholder="Logo" name="logo" id="logo" class="form-control">

        <button id="addform" type="submit" class="btn btn-primary">Add Profile</button>


     </form>

</body>


</html>